/GuessNumber/build/
/GuessNumber/dist/
/IOFileTutorial/build/
/IOFileTutorial/dist/
/ListFileDirectory/build/
/ListFileDirectory/dist/
/PoiterPreference/build/
/PoiterPreference/dist/
/HelloWorld/build/
/HelloWorld/dist/
/FriendClass/build/
/FriendClass/dist/
/GNUDebuggerC/build/
/GNUDebuggerC/dist/
/InheritanceExample/build/
/InheritanceExample/dist/
/PolymorphismTutorial/build/
/PolymorphismTutorial/dist/
/PrimeNumber/build/
/PrimeNumber/dist/
/FunctionTemplate/build/
/FunctionTemplate/dist/
/ClassTemplate/build/
/ClassTemplate/dist/
/ExceptionHandling/build/
/ExceptionHandling/dist/
/WriteReadCustomFile/build/
/WriteReadCustomFile/dist/
/StringTutorial/dist/
/StringTutorial/build/
/SchoolDataBase/build/
/SchoolDataBase/dist/